{{app-navigation}}
<section class="page">
  {{#link-to "dashboard" tagName="a" class="back"}}Back{{/link-to}}
  <section class="book open">
    <section class="top-navigation">
      {{#if favorite}}
        <a class="icon star favorite" {{action "favorite"}} title="Favorite"></a>
        {{else}}
        <a class="icon star" {{action "favorite"}} title="Favorite"></a>
      {{/if}}
      <h2 class="title" {{bind-attr title="title"}}>{{title}}</h2>
      <a class="icon more" {{action 'moreInfo'}} title="More"></a>
      </div>
    </section>

    <section class="moreInfo">
      <section class="background">
        <section class="info">
          <p class="author">Created on {{dateCreated}} by {{createdBy}}</p>
          <section class="privacy">
            <p>Privacy</p>
            {{#if privacy}}
              <a class="toggled"  {{action "privacy"}}>
                <span class="toggle"></span>
              </a>
              <p class="note">Phrasebook is public</p>
              {{else}}
              <a {{action "privacy"}}>
                <span class="toggle"></span>
              </a>
              <p class="note">Phrasebook is private</p>
            {{/if}}
          </section>
          <section class="editability">
            <p>Collaboration</p>
            {{#if editing}}
              <a class="toggled"  {{action "editability"}}>
                <span class="toggle"></span>
              </a>
              <p class="note">Others can edit</p>
              {{else}}
              <a {{action "editability"}}>
                <span class="toggle"></span>
              </a>
              <p class="note">Others can not edit</p>
            {{/if}}
          </section>
          <section class="social">
            <p>{{views}} views</p>
            <p>{{shares}} shares</p>
            <p>{{saves}} favorites</p>
          </section>
        </section>
      </section>
    </section>

    <section class="banner">
      <img {{bind-attr src="bannerUrl" alt="User"}} class="fallback">
    </section>

    <section class="language-navigation">
      {{#link-to "" classNames="language source" tagName="h1" title=sourceName}}{{sourceName}}{{/link-to}}
      <span class="direction"></span>
      {{#link-to "" classNames="language target" tagName="h1" title=targetName}}{{targetName}}{{/link-to}}
    </section>

    <section class="phrases">
      <ul class="entries">
        {{#each phrases}}
          <li class="entry">
            <ul>
              <li class="source">
                <p>{{sourcePhrase}}</p>
                {{!-- {{phrase-options}} --}}
              </li>
              <li class="target">
                <p>{{targetPhrase}}</p>
                {{!-- {{phrase-options}} --}}
              </li>
            </ul>
          </li>
          {{else}}
          <p class="empty">Shoot! There is nothing here!</p>
        {{/each}}
        {{partial "phraseInput"}}
      </ul>
      <div class="addPhrase">
        <button {{action "addPhrase"}}>+</button>
      </div>
      <div class="newPhrase">
        {{input classNames="input source" value="test" placeholder="Source Phrase" tabIndex=1}}
        {{input classNames="input target" value="test" placeholder="Target Phrase" tabIndex=2}}
        {{!-- <input class="input" type="text" value="Source Phrase" tabindex=1 onclick="this.value='';" onblur="this.value=!this.value?'Source Phrase':this.value;"> --}}
        <a class="icon save saveSource" {{action "saveSource"}} title="Save">+</a>
        <a class="icon save saveTarget" {{action "saveTarget"}} title="Save">+</a>
      </div>
    </section>

  </section>
</section>

