<section class="books">
  <div class="bookDashboard">
    <p>People you follow</p>
    {{#each}}
      <section class="book">
        <section class="presentation">
          {{#if favorite}}
            <a class="star favorite"></a>
            {{else}}
            <a class="star"></a>
          {{/if}}
          <h2 {{bind-attr title="title"}}>{{title}}</h2>
          {{!-- <p class="number">{{phraseCount}}</p> --}}
          <a class="more"></a>
        </section>
        <section class="banner">
          {{#link-to "book" this tagName="a"}}
            <img {{bind-attr src="bannerUrl"}}/>
          {{/link-to}}
          <div class="moreInfo">
            <p>{{dateCreated}}</p>
          </div>
        </section>

        <nav class="language-navigation">
          <h1 class="source"><a href="#">{{sourceName}}</a></h1>
          <a href="#" class="direction">></a>
          <h1 class="target"><a href="#">{{targetName}}</a></h1>
        </nav>
      </section>
    {{/each}}

    <button class="book newBook">
      <div class="wrapper">
        <img src="img/newBook.svg" alt="">
        <p>+</p>
      </div>
    </button>
  </div>
</section>
