{{app-navigation}}
<section class="page">
  {{#link-to "dashboard" tagName="a" class="back"}}Back{{/link-to}}
  <section class="book open">
    <section class="top-navigation">
      {{#if favorite}}
        <a class="icon star favorite" title="Favorite"></a>
        {{else}}
        <a class="icon star" title="Favorite"></a>
      {{/if}}
      <h2 class="title" {{bind-attr title="title"}}>{{title}}</h2>
      <a class="icon more" title="More"></a>
      </div>
    </section>
    <section class="banner">
      <img {{bind-attr src="bannerUrl" alt="User"}} class="fallback">
    </section>
    <section class="language-navigation">
      {{#link-to "" classNames="language source" tagName="h1" title=sourceName}}{{sourceName}}{{/link-to}}
      <span class="direction"></span>
      {{#link-to "" classNames="language target" tagName="h1" title=targetName}}{{targetName}}{{/link-to}}
    </section>
    <section class="phrases">
      <ul class="entries">
        {{#each phrases}}
          <li class="entry">
            <ul>
              <li class="source">
                <p>{{sourcePhrase}}</p>
                {{phrase-options}}
              </li>
              <li class="target">
                <p>{{targetPhrase}}</p>
                {{phrase-options}}
              </li>
            </ul>
          </li>
          {{else}}
          <p class="empty">Shoot! There is nothing here!</p>
        {{/each}}
      </ul>
      <button {{action "addPhrase"}}>+</button>
    </section>
  </section>
</section>

