{{app-navigation}}
<section class="page">
  {{#link-to "dashboard" tagName="a" class="back"}}Back{{/link-to}}
  <section class="book open">
    <section class="top-navigation">
      {{#if favorite}}
        <a class="icon star favorite" {{action "favorite"}} title="Favorite"></a>
        {{else}}
        <a class="icon star" {{action "favorite"}} title="Favorite"></a>
      {{/if}}
      <h2 class="title" {{bind-attr title="title"}}>{{title}}</h2>
      <a class="icon more" {{action 'moreInfo'}} title="More"></a>
      </div>
    </section>
    <section class="moreInfo">
      <section class="background">
        <p>Created on: {{dateCreated}}</p>
        <p>Created by: {{createdBy}}</p>
        <p>Created at: {{location}}</p>
        <p>Privacy: {{release}}</p>
        <p>Views: {{views}}</p>
        <p>Shares: {{shares}}</p>
      </section>
    </section>
    <section class="banner">
      <img {{bind-attr src="bannerUrl" alt="User"}} class="fallback">
    </section>
    <section class="language-navigation">
      {{#link-to "" classNames="language source" tagName="h1" title=sourceName}}{{sourceName}}{{/link-to}}
      <span class="direction"></span>
      {{#link-to "" classNames="language target" tagName="h1" title=targetName}}{{targetName}}{{/link-to}}
    </section>
    <section class="phrases">
      <ul class="entries">
        {{#each phrases}}
          <li class="entry">
            <ul>
              <li class="source">
                <p>{{sourcePhrase}}</p>
                {{phrase-options}}
              </li>
              <li class="target">
                <p>{{targetPhrase}}</p>
                {{phrase-options}}
              </li>
            </ul>
          </li>
          {{else}}
          <p class="empty">Shoot! There is nothing here!</p>
        {{/each}}
        <li class="entry entering">
          <ul>
            <li class="source">
              <p>
                <span class="progress">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </p>
            </li>
            <li class="target">
              <p>
                <span class="progress">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </p>
            </li>
          </ul>
        </li>
      </ul>
      <div class="newPhrase">
        <input class="input" type="text" value="Source Phrase" tabindex=1 onclick="this.value='';" onblur="this.value=!this.value?'Source Phrase':this.value;">
        <a class="icon save" title="Save">Save</a>
      </div>
      <div class="addPhrase">
        <button {{action "addPhrase"}}>+</button>
      </div>
    </section>
  </section>
</section>

