{{app-navigation}}
<section class="page">
  {{#link-to "dashboard" tagName="a" class="back"}}Back{{/link-to}}
  <section class="book open">
    {{book-head book=this tagName="section" classNames="book-head" action="favorite"}}
    <section class="phrases">
      <ul class="entries">
        {{#each phrases}}
          <li class="entry">
            <ul>
              <li class="source">
                <p>{{sourcePhrase}}</p>
                {{phrase-options}}
              </li>
              <li class="target">
                <p>{{targetPhrase}}</p>
                {{phrase-options}}
              </li>
            </ul>
          </li>
          {{else}}
          <p class="empty">Shoot! There is nothing here!</p>
        {{/each}}
        <li class="entry entering">
          <ul>
            <li class="source">
              <p>
                <span class="progress">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </p>
            </li>
            <li class="target">
              <p>
                <span class="progress">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </p>
            </li>
          </ul>
        </li>
      </ul>
      <div class="newPhrase">
        <input class="input" type="text" value="Source Phrase" tabindex=1 onclick="this.value='';" onblur="this.value=!this.value?'Source Phrase':this.value;">
        <a class="icon save saveSource" {{action "saveSource"}} title="Save">Add</a>
        <a class="icon save saveTarget" {{action "saveTarget"}} title="Save">Add</a>
      </div>
      <div class="addPhrase">
        <button {{action "addPhrase"}}>+</button>
      </div>
    </section>
  </section>
</section>

