<div class="companies">
  <div class="content">
    <ul>
      {{#each}}
        <li class="company">
          <div class="wrapper">
            <a {{bind-attr href="url"}} class="link">
              {{#if aquired}}
                <div class="aquired"></div>
              {{/if}}
              {{#if photo}}
                <div class="companyLogo" {{bind-attr style='photoUrl'}}></div>
              {{/if}}
              <span class="info">
                <p><b>{{name}}</b></p>
                <p>{{location}}</p>
                {{#if aquired}}
                  <p class="aquiredBy">Aquired by {{aquired}}</p>
                {{/if}}
              </span>
            </a>
            <span class="social">
              <ul>
                <li><a {{bind-attr href="twitter"}} class="twitter"></a></li>
                <li><a {{bind-attr href="angelList"}} class="angelList"></a></li>
              </ul>
            </span>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>