{{get-involved-subheader}}
<section class="page form">
  <form>
    <h1>Submit a video</h1>
    <p>Join the conversation, and share your language with the world.</p>
    <a class="secondaryLink" {{action "openGuidelines"}}>Video Guidelines</a>
    {{!-- {{#link-to "submitGuidelines" classNames="secondaryLink"}}Video Guidelines{{/link-to}} --}}
    {{submit-guidelines}}
    <ul>
      <li><p>About you</p></li>
      <li>{{input value=view.name placeholder="Name (Required)" required=1}}</li>
      <li>{{input value=view.email placeholder="Email (Required)" required=1}}</li>
      <li>{{input value=view.link placeholder="Link to Video File (Dropbox, Google Drive, Mediafire) (Required)" required=1}}</li>
    </ul>
    <ul>
      <li><p>About the speaker</p></li>
      <li>{{input value=view.speaker placeholder="What is the speaker's name? (Required)" required=1}}</li>
      <li>{{input value=view.language placeholder="What languages are used in this video? (Required)" required=1}}</li>
    </ul>
    <ul>
      <li><p>About the video</p></li>
      <li>{{input value=view.videoLocation placeholder="Where was this video made? (Required)" required=1}}</li>
      <li>{{textarea value=view.transcription placeholder="Transcribe the video (optional)"}}</li>
      <li>{{textarea value=view.translation placeholder="Translate the video (optional)"}}</li>
    </ul>
    <p>Leave us a message</p>
    {{textarea value=view.message placeholder="Message (optional)"}}
    <ul>
      <li><p>Release form</p></li>
      <li>
        {{!-- {{#link-to "legal" classNames="secondaryLink"}}Read Release Form{{/link-to}} --}}
        <a class="secondaryLink" {{action "openTOS"}}>Read Release Form</a>
        {{release-forms}}
      </li>
      <li class="checkbox">{{input type="checkbox" id="releaseForm" checked=view.releaseForm}}<label for="releaseForm">I have read and accept the release form (Required)</label></li>
    </ul>
    <button class="submit" type="submit" {{action "submit" target=view}}>Send</button>
    {{get-involved-email}}
  </form>
</section>
{{!-- {{form-modal title=title text=text}} --}}
<section class="success">
    <div class="modal">
      <h1>Thank you for submitting a video!</h1>
      <p>We'll be sure to notify you when it goes live.</p>
      <button {{action "closeModal"}}>Okay!</button>
    </div>
</section>