{{landing-navigation}}
<section class="banner team">
    {{!-- {{google-maps latitude="20" longitude="0" markers=markers}} --}}
</section>
{{about-subheader}}
<section class="page team">
    <h1>We're from around the world</h1>
    <ul>
        {{#each}}
            <li>
                <img {{bind-attr src="photo" title="languages"}}>
                <p>{{name}}</p>
                <p class="country">{{location}}</p>
            </li>
        {{/each}}
    </ul>
    {{#link-to "volunteer" tagName="button"}}Become a volunteer today{{/link-to}}
</section>