{{get-involved-subheader}}
<section class="page form">
  <form>
    <h1>Become a volunteer</h1>
    <p>Apply to join our community as a volunteer or ambassador.</p>
    <a class="secondaryLink" {{action "openGuidelines"}}>Volunteer Guidelines</a>
    {{!-- {{#link-to "volunteerGuidelines" classNames="secondaryLink"}}Volunteering Guidelines{{/link-to}} --}}
    {{volunteer-guidelines}}
    <ul>
      <li><p>About you</p></li>
      <li>{{input required="true" value=view.name placeholder="Name (Required)"}}</li>
      <li>{{input required="true" type="email" value=view.email placeholder="Email (Required)"}}</li>
      <li>{{input required="true" value=view.location placeholder="Location (Required)"}}</li>
    </ul>
    <ul>
      <li><p>How would you like to contribute?</p></li>
      <li class="checkbox">{{input type="checkbox" id="ambassador" checked=view.ambassador}}<label for="ambassador">Language Recording</label></li>
      <li class="checkbox">{{input type="checkbox" id="socialMedia" checked=view.socialMedia}}<label for="socialMedia">Social Media</label></li>
      <li class="checkbox">{{input type="checkbox" id="webDev" checked=view.webDev}}<label for="webDev">Web Development</label></li>
      <li>{{input value=view.otherVolunteer placeholder="Other (Please specify)"}}</li>
    </ul>
    <p>Please tell us a bit about yourself</p>
    {{textarea value=view.message placeholder="What do you do?"}}
    <button class="submit" type="submit" {{action "submit" target=view}}>Send</button>
    {{get-involved-email}}
  </form>
</section>
{{!-- {{form-modal title=title text=text}} --}}
<section class="success">
    <div class="modal">
      <h1>Thank you for applying!</h1>
      <p>We'll reach out to you as soon as possible.</p>
      <button {{action "closeModal"}}>Okay!</button>
    </div>
</section>