<nav class="top-navigation">
  {{#if favorite}}
    <a class="star favorite" title="Favorite"></a>
    {{else}}
    <a class="star" title="Favorite"></a>
  {{/if}}
  {{#link-to "book" this tagName="h2" title=title}}
    {{title}}
  {{/link-to}}
  <a class="more" title="More"></a>
</nav>
<section class="banner">
  {{#link-to "book" this tagName="a"}}
    <img {{bind-attr src="bannerUrl"}}/>
  {{/link-to}}
</section>
<nav class="language-navigation">
  {{#link-to "" classNames="language source" tagName="h1"}}{{sourceName}}{{/link-to}}
  <span class="direction"></span>
  {{#link-to "" classNames="language target" tagName="h1"}}{{targetName}}{{/link-to}}
</nav>